.wrapper{
    display: flex;
    flex-flow:  row wrap;
    margin-left: 2%;
    width: 100%;
}

body{
    margin: auto;
}

h1#top{
    width: 100%;
    float:left;
    
}

p#validity , p#million{
    font-weight: bold;
    width: 100%;
}

#pyriamid p{
    
    margin: 0;
    padding: 0;
}

#pyriamid{
    border-style: solid;
    border-width: 4px;
    border-color: green;
    width: 95%;
}